<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-4"><%= simple_form_for @sock do |s| %>
        <%= s.input :title, label: "Name your sock" %>
        <%= s.input :description, label: "Describe your sock" %>
        <%= s.input :color %>

        <%= s.input :pattern,  collection: Sock::SOCK_PATTERN %>
        <%= s.input :min_size %>
        <%= s.input :max_size %>

        <%= s.input :sock_type, collection: Sock::SOCK_TYPE %>
        <%= s.input :brand %>
        <%= s.input :season, collection: Sock::SEASON %>
        <%= s.input :photo %>
        <%= s.input :photo_cache, as: :hidden %>
        <%= s.input :price , label: "how much for it?"%>
        <%= s.submit %>
      <% end %>
    </div>
  </div>
</div>
