<div class="container">
  <h1>Search bar (see material from Tuesday)</h1>

<div class="container">

  <div class="containerindex">

    <div class="dropdown">
      <h2>Filter</h2>
      <br>
        <%= form_tag socks_path, method: :get do %>
        <label>Color</label>
          <%= select_tag "filter[color]", options_for_select(Sock::COLOR), prompt:"Please select"%>
        <br>
        <br>
        <label>Min size</label>
          <%= select_tag "filter[min_size]", options_for_select(Sock::MIN_SIZE), prompt:"Please select"%>
        <br>
        <br>
        <label>Max size</label>
          <%= select_tag "filter[max_size]", options_for_select(Sock::MAX_SIZE), prompt:"Please select"%>
        <br>
        <br>
        <label>Sock type</label>
          <%= select_tag "filter[sock_type]", options_for_select(Sock::SOCK_TYPE), prompt:"Please select"%>
        <br>
        <br>
        <label>Sock pattern</label>
          <%= select_tag "filter[sock_pattern]", options_for_select(Sock::SOCK_PATTERN), prompt:"Please select"%>
        <br>
        <br>
        <%= submit_tag "Filter", name: nil, class: 'btn btn-primary mb-2', id: 'filter_choice' %>
        <% end %>
    </div>

    <div class="cards">
      <% @socks.each do |sock| %>
        <div class="card-sock">
          <%= image_tag "avatar-placeholder.jpg" %>
          <div class="card-sock-infos">
            <div>
              <h2><%= sock.title %></h2>
              <p> <%= sock.description %></p>
            </div>
          <h2 class="card-sock-pricing"> $<%= sock.price %></h2>
          <%= image_tag "logo.jpg", class:'card-sock-user avatar-bordered' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>

  <!-- scope :color, -> (color) { where color: color }
  scope :min_size, -> (min_size) { where min_size: min_size }
  scope :max_size, -> (max_size) { where max_size: max_size }
  scope :sock_type, -> (sock_type) { where sock_type: sock_type }
  scope :brand, -> (brand) { where brand: brand }
  scope :season, -> (season) { where season: season }
  scope :age, -> (age) { where age: age }
  scope :price, -> (price) { where price: price } -->
