<div class="container">
  <h1>Search bar (see material from Tuesday)</h1>
  <% @socks.each do |sock| %>
    <p><%= sock.title %></p>
  <% end %>

  <div class="card-sock">
  <img <%= image_tag "avatar-placeholder.jpg" %>>
  <div class="card-sock-infos">
    <div>
      <h2> <%= "Title here" %> </h2>
      <p> <%= "Short description here!" %></p>
    </div>
    <h2 class="card-sock-pricing"> <%= "£99.99" %></h2>
   <!--  <img <%# image_tag "logo-placeholder.jpg" %> class="card-sock-user avatar-bordered"/> -->
  </div>
</div>
</div>
