<div class="banner">
  <div class="container">
    <div class="row justify-content-between align-items-center mt-5">
      <div class="col-12 col-lg-6">
        <%= image_tag 'washer.gif', crop: :fill, id: "washer" %>
      </div>
      <div class="col-12 col-lg-6 ">
        <div class="d-flex flex-column justify-content-center">
          <h1 id="war">Don't let the washer win </h1>
          <h1 id="join">Join sockCiety! </h1>
          <br>
          <p class= "text-center">Find the match to your lost sock.</p>

        </div>
      </div>
    </div>
  </div>
</div>


<h1 style="color: #006DAA; margin-bottom:1em" id="socks_index_title">Our Socks</h1>
<br>
<div class="d-flex">
  <div class="dropdown ">
    <div>
      <h2>Filter</h2>
      <br>
    </div>
    <%= form_tag socks_path, method: :get, remote: true do %>
      <div>
        <label class="filter-label">Color</label>
      </div>
      <div>
          <%= select_tag :filter_color, options_for_select(Sock::COLOR, params[:filter_color]), prompt:"Please select"%>
      </div>
      <br>
      <br>
      <div>
        <label class="filter-label">Sock type</label>
      </div>
      <div>
        <%= select_tag :filter_sock_type, options_for_select(Sock::SOCK_TYPE, params[:filter_sock_type]), prompt:"Please select"%>
      </div>
        <br>
        <br>
      <div>
        <label class="filter-label">Sock pattern</label>
      </div>
      <div>
        <%= select_tag :filter_sock_pattern, options_for_select(Sock::SOCK_PATTERN, params[:filter_sock_pattern]), prompt:"Please select"%>
      </div>
      <br>
      <br>
      <div>
        <label class="filter-label">Season</label>
      </div>
      <div>
        <%= select_tag :filter_season, options_for_select(Sock::SEASON, params[:filter_season]), prompt:"Please select"%>
      </div>
      <br>
      <br>
      <%= submit_tag :Filter, class: 'filter-submit btn btn-primary mb-2', remote: true%>
    <% end %>
  </div>

  <div class="container card-container">
    <%= render 'cards_container', socks: @socks %>
  </div>

  <div class = "about py-5">
    <h2 class="about-header">The <strong>ultimate</strong> sock finder app</h2>
    <br id="top">
    <div class="d-flex justify-content-between align-items-top" >
      <div class="text-justify">
        <p>In <strong>SockCiety™️</strong>, we pride ourselves for giving the ultimate user experience, for the people who truly deserve it. Our community includes people from all around the world. <br> We believe that socks don't have only one sockMate, and could eventually, given the time, find a new match. That’s why we built the <strong>SockCiety™️</strong>, for sock lovers to meet, find their match and enjoy their favorite socks once more.
        </p>
      </div>
    </div>
  </div>
</div>

<%= link_to image_tag 'arrow-up.png', :anchor => "socks_index_title", class:"button", id:"btn-fixed" %>
