<div class="banner">
  <div class="container">
    <div class="row justify-content-between align-items-center mt-5">
      <div class="col-12 col-lg-6">
        <%= image_tag 'washer.gif', crop: :fill, id: "washer" %>
      </div>
      <div class="col-12 col-lg-6 ">
        <div class="d-flex flex-column justify-content-center">
          <h1>Don't let the wahser win </h1>
          <h1 id="join">Join sockCiety! </h1>
          <br>
          <p class= "text-center">Find the match to your lost sock.</p>

        </div>
      </div>
    </div>
  </div>
</div>


  <h1 style="color: #006DAA; margin-bottom:1em">Our Socks</h1>
    <div class="containerindex">
      <div class="dropdown">
        <div>
          <h2>Filter</h2>
          <br>
        </div>
          <%= form_tag socks_path, method: :get do %>
        <div>
          <label>Color</label>
        </div>
        <div>
            <%= select_tag :filter_color, options_for_select(Sock::COLOR, params[:filter_color]), prompt:"Please select"%>
        </div>
        <br>
        <br>
        <div>
          <label>Sock type</label>
        </div>
        <div>
          <%= select_tag :filter_sock_type, options_for_select(Sock::SOCK_TYPE, params[:filter_sock_type]), prompt:"Please select"%>
        </div>
          <br>
          <br>
        <div>
          <label>Sock pattern</label>
        </div>
        <div>
          <%= select_tag :filter_sock_pattern, options_for_select(Sock::SOCK_PATTERN, params[:filter_sock_pattern]), prompt:"Please select"%>
        </div>
          <br>
          <br>
        <div>
          <label>Season</label>
        </div>
        <div>
          <%= select_tag :filter_season, options_for_select(Sock::SEASON, params[:filter_season]), prompt:"Please select"%>
        </div>
          <br>
          <br>
          <%= submit_tag :Filter, class: 'btn btn-primary mb-2' %>
          <% end %>
      </div>
  <div class="container w-100">
      <div class="cards">
        <% @socks.each do |sock| %>
          <% if sock.bought == false %>
            <div class="card-sock">
              <% if sock.photo.file.nil? %>
              <%= link_to sock_path(sock) do  %>
                <%= image_tag 'logo.jpg', crop: :fill, height: 220, width: 400; %>
                <% end %>
              <% else %>
              <%= link_to sock_path(sock) do  %>
                <%= cl_image_tag sock.photo, crop: :fill, height: 220, width: 500; %>
                <% end %>
              <% end %>
              <div class="card-sock-infos">
                <div>
                  <h2><%= link_to sock.title, sock_path(sock)  %></h2>
                  <p> <%= sock.description %></p>
                </div>
                <h2 class="card-sock-pricing"> $<%= sock.price %></h2>
                <%= link_to profile_path(sock.user) do  %>
                  <% if sock.user.photo.file.nil? %>
                    <%= image_tag 'sock.png', height: 40, width: 25, crop: :fill, class:'card-sock-user avatar-bordered' %>
                  <% else %>
                    <%= cl_image_tag sock.user.photo, height: 40, width: 25, crop: :fill, class:'card-sock-user avatar-bordered'  %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

</div>

  <!-- scope :color, -> (color) { where color: color }
  scope :min_size, -> (min_size) { where min_size: min_size }
  scope :max_size, -> (max_size) { where max_size: max_size }
  scope :sock_type, -> (sock_type) { where sock_type: sock_type }
  scope :brand, -> (brand) { where brand: brand }
  scope :season, -> (season) { where season: season }
  scope :age, -> (age) { where age: age }
  scope :price, -> (price) { where price: price } -->
