<div class="white-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="sock-card">
        <% if @sock.photo? %>
        <%= cl_image_tag @sock.photo, height: 300, width: 400, crop: :fill, class: "col-xs-12 col-sm-6", alt: "no image" %>
        <% else %>
        <%= image_tag "logo.jpg", height: 300, width: 400, crop: :fill, class: "col-xs-12, col-sm-6", alt: "no image" %>
        <% end %>

        <div class="card-product-infos col-xs-12 col-sm-6">
          <div class="sock-info">
            <h2><%= @sock.title %></h2>
            <div class="detailed-info">
              <div class="detail">
                <i class="fas fa-palette"></i>
                <p><%= @sock.color %></p>
              </div>
              <div class="detail">
                <i class="fas fa-hashtag"></i>
                <p><%= @sock.pattern %></p>
              </div>
              <div class="detail">
                <i class="fas fa-cloud-sun"></i>
                <p><%= @sock.season %></p>
              </div>
            </div>
          </div>
          <div class="sock-description">
            <p><%= @sock.description %></p>
          </div>
          <div class="actions">
            <div class="sock-price">
              <p>$ <%= @sock.price %></p>
            </div>
            <div class="user-actions">
              <% if @sock.user == current_user %>

              <% if policy(@sock).edit? %>
              <div class="logged-in-user d-flex">
                <div id="update-button">
                  <i class="fas fa-pen"></i>
                  <%= link_to "Edit", edit_sock_path %>
                </div>
                <% end %>
                <% if policy(@sock).destroy? %>
                <div id="delete-button">
                  <i class="far fa-trash-alt"></i>
                  <%= link_to "Delete", socks_path(@socks),id:"delete-button", method: :delete,
                  data: { confirm: "Are you sure?" } %>
                </div>
              </div>
              <% end %>
              <% else %>

              <%= link_to "Buy this sock", new_sock_transaction_path(@sock), id:"buy-button" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="all-reviews">
        <div class="sock-reviews">
          <h2>About the sock owner </h2>
          <% if @user.rating != "no reviews yet" && !@user.rating.nil? %>
          <p>User Rating: </p>
          <% @user.rating.times do%>
          <%= '⭐️' %>
          <% end %>
          <div class="sock-review">
            <p>User Reviews</p>
            <% @user.reviews.each_with_index do |review,index| %>
            <%reviewer = User.find(@ids[index]) %>
            <strong><%= reviewer.username %></strong>
            <div class="review-rating">
              <%review.rating.times do %>
              <%= '⭐️' %>
            </div>
            <% end %>
            <div class="review-content">
              <p><%= review.description %></p>
            </div>
            <% end %>
          </div>
          <% else %>
          <%= @user.rating %>
          <p>No Reviews yet</p>
          <% end %>
        </div>
        <div id="review-button">
          <i class="fas fa-edit"></i>
          <%= link_to "Add a review", new_review_path %>
        </div>

      </div>
    </div>

  </div>
</div>



<!-- <div class="message">
  <%# image_tag "sock-placeholder.jpg", class: "message-avatar" %>
  <div class="message-name"> -->


<!--
    <h2>About the sock owner</h2>

    <h2>User rating:

      <%#if  @user.rating != 'no reviews yet' && !@user.rating.nil?  %>

      <%# @user.rating.times do%>
      <%# '⭐️' %>
      <%# end %>
      <%# else %>
      <%= @user.rating %>
      <%# end %>
    </h2>
    <h2>User reviews</h2>
    <%# @user.reviews.each_with_index do |review,index| %>
    <%#reviewer = User.find(@ids[index]) %>
    <strong><%# reviewer.username %></strong>
    <%#review.rating.times do %>
    <%= '⭐️' %>
    <%# end %>
    <p><%# review.description %></p>
    <%# end %> -->

    <!-- <p>note to self to give a range of 1..5 for the rating </p> -->

    <%= link_to 'go back to socks', socks_path, class: "btn btn-primary my-5" %>

<!-- <h1><%# @sock.title %></h1>
<div class="container"><%= @sock.title %>
  <%= @sock.description %>
  <p>Picture of the sock </p>
  <%= @sock.user.email %> -->
  <%#= # link_to "Buy!", sock_transactions_path, method: :post  %>
  <%# @sock.user.reviews.each do |review| %>
  <%#= review.description %>
  <%# review.rating.times do  %>
  <!--       <p>stars</p> -->
  <%# end %>
  <%# end %>

<%# end %>
<% if @sock.user == current_user %>
  <% if policy(@sock).edit? %>
    <%= link_to "Update my Sock", edit_sock_path(@sock) %>
  <% end %>
  <% if policy(@sock).destroy? %>
    <%= link_to "Delete my sock", sock_path(@sock), method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% end %>
<% else %>
<%= link_to "Buy this sock", new_sock_transaction_path(@sock) %>
<% end %>

<h2>About the sock owner</h2>

<h2>User rating:
  <%if  @user.rating != 'no reviews yet' && !@user.rating.nil?  %>
    <% @user.rating.times do%>
      <%= '⭐️' %>
    <% end %>
  <% else %>
    <%= 'no reviews yet' %>
  <% end %>
</h2>
<h2>User reviews</h2>
<% @user.reviews.each_with_index do |review,index| %>
    <%reviewer = User.find(@ids[index]) %>
      <div class="review bg-white border-bottom">
        <strong><%= reviewer.username %></strong>
        <%review.rating.times do %>
          <%= '⭐️' %>
        <% end %></div>
          <p><%= review.description %></p>
 <% end %>

  <!-- <p>note to self to give a range of 1..5 for the rating </p> -->

  <%= link_to 'go back to socks', socks_path, class: "btn btn-primary my-5" %>
</div>
