<div class="container" style="color: #006DAA ">
  <div class="row justify-content-center" style="margin-top: 6em;">
    <div class="col-12 col-md-8 col-lg-6">
      <h2 style="margin-bottom: 1em;">Forgot your password?</h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Send password reset instructions", class:"sign-upbtn" %>
          </div>
        <% end %>
      <div id="formlinks">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

