<div class="container">
  <h1 class = "text-center"><%= @user.username %></h1>
  <div class="cards">
    <% if @user.socks.length == 0 %>
      <h2>No sock yet</h2>
      <%= link_to "+ Add a a sock", new_sock_path, class: "btn btn-primary m-5" %>
    <% else %>
      <% @user.socks.each do |sock| %>
            <div class="card-sock">
              <% if sock.photo.file.nil? %>
              <%= link_to sock_path(sock) do  %>
                <%= image_tag 'logo.jpg', crop: :fill, height: 220, width: 400; %>
                <% end %>
              <% else %>
                <%= cl_image_tag sock.photo, crop: :fill, height: 220, width: 400; %>
              <% end %>
              <div class="card-sock-infos">
                <div>
                  <h2><%= link_to sock.title, sock_path(sock)  %></h2>
                  <p> <%= sock.description %></p>
                </div>
                <h2 class="card-sock-pricing"> $<%= sock.price %></h2>
                <%= link_to profile_path(sock.user) do  %>
                  <% if sock.user.photo.file.nil? %>
                    <%= image_tag 'sock.png', height: 40, width: 25, crop: :fill, class:'card-sock-user avatar-bordered' %>
                  <% else %>
                    <%= cl_image_tag sock.user.photo, height: 40, width: 25, crop: :fill, class:'card-sock-user avatar-bordered'  %>
                  <% end %>
                <% end %>
              </div>
            </div>
      <% end %>
    <% end %>
  </div>
  <div class="review-overview container">
  <div class="overall-rating">
    <% if @user.rating != "no reviews yet" && !@user.rating == 0 %>
      <p><strong>User Rating: </strong></p>
      <div class="stars">
        <% @user.rating.times do%>
          <%= raw '<i class="fa fa-star" aria-hidden="true"></i>' %>
        <% end %>
        </div>
        </div>
        <div class="sock-reviews">
          <p class="headline"><strong>User Reviews</strong></p>
          <% @user.reviews.each_with_index do |review,index| %>
          <% reviewer = User.find(@ids[index]) %>
          <div class="sock-review">
         <div class="review-rating">
         <p class ="d-flex"><strong><%= reviewer.username %></strong>
            <%review.rating.times do %>
            <%= raw '<i class="fa fa-star" aria-hidden="true"></i>' %>
          <% end %>
          </p>
          </div>
          <div class="review-content">
            <p><%= review.description %></p>
          </div>
          <% end %>
          </div>
        </div>
    <% else %>

      <p>No Reviews yet</p>
    <% end %>

  <div id="review-button">
    <% if current_user != @user %>
    <i class="fas fa-edit"></i>
      <%= link_to "Add a review", new_review_path %>
      <% end %>
  </div>
  </div>
</div>

