<div class="container">
  <h1 class = "text-center"><%= @user.username %></h1>
  <div class="cards">
    <% if @user.socks.length == 0 %>
      <h2>No sock yet</h2>
      <h2><strong>for user only -> add socks now!</strong></h2>
    <% else %>
      <% @user.socks.each do |sock| %>
          <div class="card-sock">
            <%= image_tag "avatar-placeholder.jpg" %>
            <div class="card-sock-infos">
              <div>
                <h2><%= sock.title %></h2>
                <p> <%= sock.description %></p>
              </div>
            <h2 class="card-sock-pricing"> $<%= sock.price %></h2>
            <%= image_tag "logo.jpg", class:'card-sock-user avatar-bordered' %>
            </div>
          </div>
      <% end %>
    <% end %>
</div>
<br>



<h2>User rating:
  <%if  @average != 'no reviews yet' %>
    <% @average.times do%>
    <%= '⭐️' %>
  <% end %>
  <% else %>
  <%= @average %>
  <% end %>
</h2>
<h2>User reviews</h2>
<% @user.reviews.each_with_index do |review,index| %>
    <%reviewer = User.find(@ids[index]) %>
    <strong><%= reviewer.username %></strong>
    <%review.rating.times do %>
      <%= '⭐️' %>
    <% end %>
    <p><%= review.description %></p>
 <% end %>


