<div class="container">

  <h1 class = "text-center " style="margin-top: 3em; color:#006DAA"><%= @user.username %>!</h1>
    <% if @user.socks.length == 0 %>
      <div class="container">
        <div class='row justify-content-center' style="margin-top: 2em;">
          <div class=" d-flex align-items-center col-12 col-md-6 col-lg-4 ">
            <h3 style="color:#006DAA; margin-right: 2em;">You are SockLess!</h3>
            <%= link_to "ADD A SOCK!", new_sock_path, class: "btn sign-upbtn" %>
          </div>
        </div>
      </div>
    <% else %>
   <%= render 'socks/cards_container', socks: @user.socks %>
      <% end %>
  <div class="review-overview container">
  <div class="overall-rating">

    <% if @user.rating != "no reviews yet" && !@user.rating.nil? %>
      <p class="headline"><strong>User Rating: </strong></p>
      <div class="stars">
        <% @user.rating.times do%>
          <%= raw '<i class="fa fa-star" aria-hidden="true"></i>' %>
        <% end %>
        </div>
        </div>
        <div class="sock-reviews">
          <p class="headline"><strong>User Reviews</strong></p>
          <% @user.reviews.each_with_index do |review,index| %>
          <% reviewer = User.find(@ids[index]) %>
          <div class="sock-review">
         <div class="review-rating">
         <p class ="d-flex"><strong><%= reviewer.username %></strong>
            <%review.rating.times do %>
            <%= raw '<i class="fa fa-star" aria-hidden="true"></i>' %>
          <% end %>
          </p>
          </div>
          <div class="review-content">
            <p><%= review.description %></p>
          </div>
          <% end %>
          </div>
        </div>
    <% else %>

      <p style="padding-bottom: 1em;">No Reviews yet</p>
    <% end %>

  </div>
</div>

  <div id="review-button btn btn-warning">
    <% if current_user != @user %>
    <i class="fas fa-edit"></i>
      <%= link_to "Add a review", new_review_path %>
      <% end %>
  </div>
