 <%= form_tag socks_path, method: :post do %>
  <p>Name on card</p>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "John doe"
  %>
<br>
  <p>Credit card number</p>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "****************"
  %>
  <br>
    <p>experation date</p>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "mm/dd"
  %>

  <br>
    <p>CVV <i class="fas fa-question-circle"></i></p>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "***"
  %>
<% end %>

<br>

