<h1>Add a review for <%= @user.username %></h1>
<%= simple_form_for [@user, @review] do |s| %>
<%= s.input :rating, label: "Rate this user" %>
<%= s.input :description, label: "Describe their service" %>
<%= s.submit "Submit review" %>
<% end %>

